<div id="new-news-filed">
  <h3>Share the news</h3>
  <%= form_for @message do |f| %>
    <div id="news-text-filed">
      <%= f.text_area :content, placeholder: "Compose new messages..." %>
    </div>
    <%= f.file_field :picture %><br/>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
