<section id="all-frends-filed">
  <% if @all_frends.any? %>
  <h3 id="title-frends-filed">My all frend</h3>
    <div id="all-frends_avatars">
      <% @all_frends.each do |user| %>
        <div id="items">
          <div class="item">
            <%= link_to image_tag(user.avatar.url, size: 35), user %>
            <%= user.first_name %>
            <%= user.last_name %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Only ten frend", all_frends_user_path, remote: true %>
  <% end %>
</section>

<script>
  $('#all-frends_avatars').on('scroll', function (e) {
      var $this = $(this),
          $items = $("#items"),
          scrollPosition = $this.scrollTop();

      if (scrollPosition > ($this.data('scroll-position') || 0)) {
          // Scrolling down
          var threshold = $items.height() - $this.height() - $('.item:last-child').height();

        	if (scrollPosition > threshold) {
            	var $firstResult = $('.item:first-child');
              $items.append($firstResult);
            	scrollPosition -= $firstResult.height();
              $this.scrollTop(scrollPosition);
          }
      } else {
          // Scrolling up
          var threshold = $('.item:first-child').height();
          if (scrollPosition < threshold) {
              var $lastResult = $('.item:last-child');
              $items.prepend($lastResult);
            	scrollPosition += $lastResult.height();
              $this.scrollTop(scrollPosition);
          }
      }
    	$this.data('scroll-position', scrollPosition)
  });
</script>
