<section id="all-frends-filed">
  <% if @user.messages.any? %>
  <h3 id="title-gallery">My all picture</h3>
    <div id="all_pictures">
      <% @user.messages.each do |messages| %>
        <div id="items">
          <div class="item">
            <%= image_tag messages.picture, :id => "item-gallery", :size => 35 %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Only ten pictures", all_pictures_user_path, remote: true %>
  <% end %>
</section>

<script>
  $('#all_pictures').on('scroll', function (e) {
      var $this = $(this),
          $items = $("#items"),
          scrollPosition = $this.scrollTop();

      if (scrollPosition > ($this.data('scroll-position') || 0)) {
          // Scrolling down
          var threshold = $items.height() - $this.height() - $('.item:last-child').height();

        	if (scrollPosition > threshold) {
            	var $firstResult = $('.item:first-child');
              $items.append($firstResult);
            	scrollPosition -= $firstResult.height();
              $this.scrollTop(scrollPosition);
          }
      } else {
          // Scrolling up
          var threshold = $('.item:first-child').height();
          if (scrollPosition < threshold) {
              var $lastResult = $('.item:last-child');
              $items.prepend($lastResult);
            	scrollPosition += $lastResult.height();
              $this.scrollTop(scrollPosition);
          }
      }
    	$this.data('scroll-position', scrollPosition)
  });
</script>
