<section id="frends-filed">
  <h3 id="title-frends-filed">My frend</h3>
  <% if @user.following.any? %>
    <div id="frends_avatars">
      <% @user.following.latest_ten.shuffle.each do |user| %>
        <%= link_to image_tag(user.avatar.url, size: 35), user %>
      <% end %>
    </div>
    <%= link_to "All frend", all_frends_user_path, remote: true %>
  <% end %>
</section>
