<section class=personal-info-filed>
  <h3>My personal info</h3>
  <div id="personal-info-title">
    <p> phone_number</p>
    <p>favorite_book</p>
    <p>favorite_film</p>
  </div>
  <div id="personal-info">
    <p><%= @user.phone_number %></p>
    <p><%= @user.favorite_book %></p>
    <p><%= @user.favorite_film %></p>
  </div>
  <%= link_to "Edit my personal info", edit_user_path, remote: true if current_user?(@user) %>
</section>
