/* navbar */
ul {
    list-style-type: none;
    margin: -10px;
    padding-left: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #4682B4;
    border-radius: 5px
}

li {
    float: left;
}

#panel-li a {
    display: block;
    width: 70px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

#panel-li-last a {
    display: block;
    width: 70px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-width:1px;
    border-left-style:solid;
    border-left-color: white;
}

#panel-li:hover {
    background-color: #356389;
}

#panel-li-last:hover {
    background-color: #356389;
}

#ul-li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#ul-li:hover {
    background-color: #356389;
}

#Lible {
  position: fixed;
  float: left;
  color: white;
  margin-top: -10px;
  padding: 14px 16px;
  padding-left: 2cm;
  text-decoration: none;
  font-weight: 600;
  font-size: 200%
}

#flip {
  position: relative;
  transition: 0.5s;
  display: block;
  color: white;
  padding: 14px 16px;
  cursor: pointer;

}

#flip:after {
  transition: 0.5s;
  opacity: 1;
  right: 0;
}

#flip:hover {
  background-color: #356389;
}

#panel {
  display: none;
  width: 290px;
  margin-top: -28px;
  margin-right: 1.5cm;
  text-decoration: none;
}
