<!DOCTYPE html>
<html>
  <head>
    <title>SampleSocialNetwork</title>

    <%= stylesheet_link_tag :nprogress, :recurseve => true %>
    <%= stylesheet_link_tag :cropper,   :recurseve => true %>

  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="root"><script src="/bundleFrontend/bundle.js"></script></div>
  </body>
</html>
