<!DOCTYPE html>
<html>
  <head>
    <title>SampleSocialNetwork</title>

    <%= stylesheet_link_tag :nprogress, :recurseve => true %>
    <%= stylesheet_link_tag :cropper,   :recurseve => true %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div id="root"><script src="/bundleFrontend/bundle.js"></script></div>
  </body>
</html>
